@import 'src/App.scss';

.feed-selector {
    height: 50px;
    padding: 10px 50px;
    font-size: 1.2em;
    font-weight: 500;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: hsl(0, 0%, 15%) 1px solid;
    color: $textColour2;

    > div:first-child {
        border-right: $borderColour 2px solid;
        padding-right: 50px;
        margin-right: 50px;
    }

    .active{
        color: $textColour;
        font-weight: 700;
    }
}

.post-container{
    margin-bottom: 4rem;
}

// .posts-container {
//     margin-right: 10rem;
// }

.feed{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.feed-posts{
    margin: 1rem;
}

@media (max-width: 56rem) {
    .feed-selector {
        padding: 0.5rem 1rem;
        justify-content: center;
    }
    .feed{
        flex-direction: column-reverse;
    }
    .feed-posts{
        margin: 0rem;
    }
    .post-container{
        margin-bottom: 2rem;
    }
}

@media (max-width: 25rem) {
    .feed-selector {
        padding: 0.1rem 1rem;
    }
    .post{
        border: none;
    }
    .post-container{
        margin-bottom: .5rem;
    }
}