@import 'src/App.scss';

.feed-selector {
    height: 50px;
    padding: 10px 50px;
    font-size: 1.2em;
    font-weight: 500;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: hsl(0, 0%, 15%) 1px solid;

    > div:first-child {
        border-right: $borderColour 2px solid;
        padding-right: 50px;
        margin-right: 50px;
    }
}

.posts-container {
    margin-right: 10rem;
}
