@import '../../App.scss';

button {
    background-color: $accentColour2;
    color: $textColour;
    border: none;
    border-radius: 5px;
    padding: 20px 20px;
    outline: none;
    margin-bottom: 35px;
    width: 260px;
    box-sizing: border-box;
    cursor: pointer;
}
