@import '../../App.scss';

.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
    
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 5rem;
    border-radius: .25rem;
    
    width: 100%;
    max-width: 25rem;


    background-color: $accentColour1;

    &-title{
        font-size: 2rem;
        font-weight: 700;
        padding-bottom: 2rem;
    }

    a{
        font-weight: 700;
        &.forgot{
            font-weight: 500;
        }
    }
    

    &-input{
        background-color: $accentColour2;
        color: $textColour;
        border: none;
        border-radius: 5px;
        padding: 1rem 1rem;
        outline: none;
        margin-bottom: 2rem;
        width: 100%;
        box-sizing: border-box;
    }

    &-submit{
        background-color: $submitColour;
    }
    &-submit-google{
        background-color: #0F9D58;
    }

    &-error{
        width: 100%;
        padding: 1rem 1rem;
        border-radius: .25rem;
        box-sizing: border-box;
        color: $textColour;
        background-color: $errorColour;
        margin-bottom: 2rem;

        &:empty {
            display: none;
        }
        &.green{
            background-color: green;
        }
    }
}


@media (max-width: 56rem) {
    .form{
        padding: 3rem;
    }
}

@media (max-width: $breakpoint-mobile) {
    .form-container{
        align-items: flex-start;
    }
    .form{
        padding: 2rem;
        background-color: transparent;
    }
}