@import 'src/App.scss';

$bubble-colour: hsl(0, 0%, 15%);

.chat-empty{
    padding: 1rem;
}

.chat-wrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .chat-top{
        flex: 0 1 40px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 10px 15px;
        border-bottom: 1px solid $borderColour;

        img{
            margin-right: 15px;
            border-radius: 50%;
            width: 30px;
            float: left;
        }

        &-back{
            width: min-content;
            background-color: transparent;
            margin-right: .25rem;
            display: none;
        }
    }

    .chat-middle{
        flex: 0 1 auto;
        height: 100%;
        padding: 1rem;
        overflow-y: scroll;
        @include scrollbar
    }

    .chat-bottom{
        flex: 0 1 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid $borderColour;
        padding: 10px 15px;

        input{
            width: 100%;
            padding: 10px 20px;
            margin-right: 15px;
            border: 1px solid $borderColour;
            border-radius: 5px;
            background-color: $backgroundColour;
            color: $textColour;
            text-align: left;
        }
    }
}

.bubble {
    padding: .8rem;
    margin-bottom: 0.5rem;
    border: 1px solid $borderColour;
    border-radius: 20px;
    clear: both;
    &.you {
        float: left;
        background-color: $backgroundColour;
        align-self: flex-start;

    }
    &.me {
        float: right;
        background-color: $accentColour2;
        align-self: flex-end;
    }
}

@media (max-width: 25rem) {
    .chat-wrapper{
        .chat-top{
            &-back{
                display: flex;
                width: min-content;
                background-color: transparent;
                margin-right: .25rem;
            }
        }
    }
}

