@import '../App.scss';

.feed-selector{
    height: 50px;
    padding: 10px 50px;
    font-size: 1.2em;
    font-weight: 500;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: hsl(0, 0%, 15%) 1px solid;

    &:first-child{
        border-right: $borderColour 2px solid ;
        padding-right: 15px;
        margin-right: 15px;
    }
}