@import '../App.scss';

.navbar {
    padding: 0.6rem 3.12rem;
    height: 3.12rem;
    background-color: $navbarColour;

    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;

    .nav-right {
        display: flex;
        align-items: center;
        justify-content: right;

        .nav-search {
            padding: 0.625rem 1.25rem;
            border: none;
            border-radius: 0.3rem;
            background-color: $backgroundColour;
            color: $textColour;
            text-align: center;
            font-weight: bold;

            &:focus {
                outline: none;
            }
        }
    }

    .nav-right-mobile,
    .hide {
        display: none;
    }

    .nav-icon {
        padding-left: 0.625rem;

        vertical-align: middle;
        font-size: 2rem;
        color: hsl(0, 0%, 25%);
        display: flex;
        align-items: center;
    }
}

@media (max-width: 50rem) {
    .navbar {
        padding: 0.5rem 1rem;
        .nav-right {
            display: none;
        }
        .nav-mobile-toggle {
            display: auto;
        }
        .nav-right-mobile {
            display: flex;
        }

        .nav-mobile {
            top: 3.12rem;
            right: 0;
            width: 80%;
            height: 100%;
            position: fixed;
            box-sizing: border-box;
            padding: 3rem;
            background-color: $navbarColour;
            display: flex;
            flex-direction: column;
            font-size: 1.5rem;

            a {
                padding-bottom: 1.5rem;
            }
        }
    }
}

@media (max-width: 25rem) {
    .navbar {
        justify-content: flex-end;
        overflow: hidden;
        .nav-left {
            display: none;
        }
        .nav-mobile {
            width: 95%;
            padding: 1rem;
            font-size: 1rem;
        }
    }
}
